{
 :deps
 {
  io.github.pupcus/kosmos {:git/tag "2022-06-29-R1"
                           :git/sha "1d3e828"}
  org.clojure/tools.logging  {:mvn/version "1.2.4"}
  }

 :paths ["src"]

 :aliases
 {
  :dev {:extra-paths ["test" "dev-resources"]
        :extra-deps {
                     org.clojure/clojure {:mvn/version "1.11.1"}
                     org.clojure/java.jdbc {:mvn/version "0.7.12"}
                     org.slf4j/slf4j-simple {:mvn/version "1.7.36"}
                     org.hsqldb/hsqldb$jdk8 {:mvn/version "2.6.1"}}}
  }
 }
